[Unit]
Description=LibreOffice server

[Service]
User={{ libreoffice_user }}
Restart=on-failure

ExecStart=/usr/bin/libreoffice "--accept=socket,host={{ libreoffice_listen_address }},port={{ libreoffice_listen_port }},tcpNoDelay=1;urp;" --headless --nodefault --nofirststartwizard --nolockcheck --nologo --norestore
ExecStop=/usr/bin/pkill libreoffice

[Install]
WantedBy=multi-user.target
